[flake8]
plugins = flake8_import_order, flake8_docstrings, flake8_comprehensions, flake8_bugbear, flake8_annotations, pep8_naming, flake8_simplify
ignore = E203, E501, W503, ANN101, ANN102, ANN401, B008